body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

.header,
.hero {
  background-color: #1f2937;
  color: #fff;
  padding: 1rem 5rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.right-aside {
  display: flex;
  align-items: center;
  gap: 23px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
}

/* HERO Section */
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.hero-text h1,
.hero-text p {
  margin: 10px 0;
}

.hero-text button {
  padding: 5px 20px;
  background-color: #3882f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 2nd section */
